/* HTML */
$fuente-sitio: 'Work Sans', sans-serif;

/* HEADER & FOOTER */
$color-header-footer: #f79605;
$color-logo: white;
$font-size-logo: 4.5rem;
$color-secciones-menu: white;
$color-menu: #f79605;
$width-redes: 30px;
$font-size-menu: 2.1rem;

/* MAIN */

/* BOTÓN */
$color-boton: #09820d;
$width-boton: 250px;
$height-boton: 40px;
$color-borde-boton: #09820d;
$grosor-borde-boton: 0;
$font-size-boton: 1.5rem;
$fuente-boton: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-texto-boton: white;

/* IMÁGENES */
$bordes-imagenes: 30px;
$size-imagenes: 300px; 

/* NOMBRE LÍNEAS */
$font-size-nombre-linea: 2.1rem;
$color-nombre-linea: #000000;
$alineacion-nombre-linea: center;

/* INFO COMERCIAL */
$font-size-info-comercial: 4rem;
$alineacion-info-comercial: 2;
$width-iconos-info-comercial: 25px;